
{% extends 'apartments/base.html' %}
{% load i18n %}
{% block content %}
{% include 'apartments/inc/slidebar.html' %}
<h1 class="section-title">{% trans 'Sus Reservas' %}</h1>
<div class="container">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
		        <center><h3>{{ message }}</h3></center>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
        </div>
     {% endfor %}
{% endif %}

{% if not bookings %}
		<center><h4 >{% trans 'No tiene reservas' %}</h4><center>
{% endif %}

{% for booking in bookings %}
<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">

					<img src="{{ booking.reserva.apartment.image.url }}" alt="{{ booking.reserva.apartment.title }}">

			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
					{% if booking.status == 'new' %}
					<a  class="btn btn-outline-danger" href="{% url 'order_cancel'%}">{% trans 'Cancelar reserva' %}</a>
					<button type="button" class="btn btn-outline-success">{% trans 'Reserva Nueva' %}</button>
				<hr>
          {% endif %}
				<h3>{% trans 'Apartamento' %} {{ booking.reserva.apartment.title }}</h3>
				<hr>

				<div class="cart-row">

						<ul class="list-unsty">
								<li><span class="product-price"><small>  {% trans 'Noches' %}:</small>{{ booking.reserva.amount_nights }}</span></li>
								<li><span class="product-price"><small>  {% trans 'Entrada' %}:</small>{{ booking.reserva.check_in|date:"d-m-Y" }}</span></li>
								<li><span class="product-price"><small>  {% trans 'Salida' %}:</small>{{ booking.reserva.check_out|date:"d-m-Y" }}</span></li>
								<li><span class="product-price"><small>  {% trans 'Por noche' %}:</small>{{ booking.reserva.price_per_night }} €</span></li>
								<li><span class="product-price"><small>  {% trans 'Limpieza' %}:</small>{{ booking.reserva.cleaning_price }} €</span></li>
						</ul>
						<hr>
						<ul class="list-unsty">
								<li><span class="product-price"><small>  {% trans 'Precio total' %}</small>{{ booking.reserva.final_price }} €</span></li>
						</ul>

				</div>
			</div>
		</div>
	</div>
		<hr>
	{% endfor %}
</div>
{% endblock %}