{% extends 'apartments/base.html' %}
{% load i18n %}
{% block content %}

{% include 'apartments/inc/slidebar.html' %}

<h1 class="section-title">{% trans 'Registrarme' %}</h1>
<div class="container">
<div class="box-login">
<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button class="btn btn-primary btn-block" type="submit">{% trans 'Registrarme' %}</button>
</form>
		</div>
</div>

{% endblock%}

